baseURL: "https://personeel.sparpater.nl"
title: Personeel Spar Pater
paginate: 25
theme: PaperMod

enableRobotsTXT: false
buildDrafts: false
buildFuture: false
buildExpired: false

#googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

defaultContentLanguage: nl
languages:
  nl:
    disabled: false
    languageCode: "nl-NL"
    languageName: "Nederlands"
    title: ""
    weight: 0
    
params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Spar Pater
  description: "Spar Pater informatie voor personeel"
  keywords: [Personeel]
  author: Dennis Pater
  # author: ["Me", "You"] # multiple authors
  images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "2 januari 2024"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: false
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    #favicon: "<link / abs url>"
    #favicon16x16: "<link / abs url>"
    #favicon32x32: "<link / abs url>"
    #apple_touch_icon: "<link / abs url>"
    #safari_pinned_tab: "<link / abs url>"

  label:
    text: "Home"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: false # needs to be explicitly set
    title: Spar Pater
    subtitle: "HACCP website voor Spar Pater"
    #imageUrl: "<img location>"
    #imageWidth: 120
    #imageHeight: 120
    #imageTitle: my image
    buttons:
      - name: Certificaten
        url: certificaten
      - name: HACCP
        url: haccp

  # home-info mode
  homeInfoParams:
    Title: "Spar Pater"
    Content: "Informatie die alleen bedoeld is voor het personeel van Spar Pater."

  socialIcons:
    #- name: twitter
    #  url: "https://twitter.com/"
    #- name: stackoverflow
    #  url: "https://stackoverflow.com"
    #- name: github
    #  url: "https://github.com/"

  analytics:
    #google:
    #  SiteVerificationTag: "XYZabc"
    #bing:
    #  SiteVerificationTag: "XYZabc"
    #yandex:
    #  SiteVerificationTag: "XYZabc"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: false # hide on list pages and home
    hiddenInSingle: false # hide on single page

  editPost:
    URL: "https://github.com/Spar-Pater/spar-personeel-website/tree/main/content"
    Text: "Verander dit document" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: nieuws
      name: nieuws
      url: /nieuws/
      weight: 10
    - identifier: categories
      name: categories
      url: /categories/
      weight: 20
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20
    - identifier: rooster
      name: rooster
      url: https://sparpater.nl/rooster
      weight: 40
    - identifier: loonstrookjes
      name: loonstrookjes
      url: https://sparpater.nl/loon
      weight: 41
    - identifier: haccp
      name: haccp
      url: https://haccp.sparpater.nl/
      weight: 50
    - identifier: Spar Pater
      name: SparPater.nl
      url: https://sparpater.nl
      weight: 51
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
